# local package
-e .

# external requirements

numpy==1.21.4
yaml==0.2.5
pyyaml==5.4.1
uvicorn==0.16.0
fastapi==0.70.1
starlette==0.16.0
imageio==2.6.1
pillow==8.0.0
matplotlib==3.5.1
tqdm==4.62.3
tensorboardx==2.4
h5py==3.6.0
scipy==1.7.3
setuptools==59.6.0