.h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: bold;
}
body{

    text-align: center;
}


.p {
    text-align: center;
    margin-top: 10px
}